
.portfolio-container{
    .portfolio-nav-list{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin-bottom: 50px;
        padding: 0;
        @media screen and (max-width: 992px){
            flex-wrap: wrap;
            
        }
        .portfolio-nav-item{
            background-color: var(--btn-color-bg);
            margin: 7px;
            padding: 0.5rem 0.75rem;
            border-radius: 15px;
            font-size: 13px;
            font-weight: 600;
            cursor: pointer;
            color: var(--font-color-main);
            @media screen and (max-width: 768px){
                margin: 0.5rem;
                padding: 1rem 1.5rem;
                text-align: center;
                width: 45%
            }
            &:hover{
                background-color: var(--bg-color-secondary);
                transition: all .3s ease;
            
            }
            
        }
    }
    .portfolio-content{
        padding: 0 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 100px;
        .portfolio-card{
            width: calc(33.33333% - 20px);
            position: relative;
            animation: fade-right .3s ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            opacity: 0;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0px 5px #484646;
            border-radius: 15px;
            @media screen and (max-width: 992px){
                width: calc(50% - 15px);
                
            }
            @media screen and (max-width: 768px){
                width: calc(100% - 20px);
                
            }
            .card-wrap{
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                padding-top: 62.5%;
                width: 100%;
                border-radius: 15px;
            }
            h3{
                position: absolute;
                top: 50%;
                color: #fff;
                margin: 0;
                width: 100%;
                text-transform: uppercase;
                font-size: 24px;
                visibility: hidden;
                z-index: 2; 
                text-align: center;
                
            }
            &::after{
                background-color: #000;
                bottom: 0;
                content: "";
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: opacity .5s ease,visibility .5s ease;
                visibility: hidden;
                z-index: 1;
                border-radius: 15px;
            }

            &:nth-child(2){
                -webkit-animation-delay: .3333333333s;
                animation-delay: .3333333333s;
            }
            &:nth-child(3){
                -webkit-animation-delay: .5s;
                animation-delay: .5s;
            }
            &:nth-child(4){
                -webkit-animation-delay: .666666s;
                animation-delay: .666666s;
            }
            &:nth-child(5){
                -webkit-animation-delay: .833333s;
                animation-delay: .833333s;
            }
            &:nth-child(6){
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
            }
            &:hover{
                h3{
                    visibility: visible;
                    transform: translateY(-50%);
                    transition: opacity .5s ease,visibility .5s ease,transform .5s ease,-webkit-transform .5s ease;
                    
                }
                &::after{
                    visibility: visible;
                    opacity: .5;
                }
            }
           
        }
    }
}