.page-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 100px 0;
    position: relative;
    width: 100%;
    h1{
        color: var(--font-color-secondary);
        font-size: 56px;
        font-weight: 900;
        position: absolute;
        @media only screen and (max-width: 767.98px)
        {
            font-size: 35px;
        }
        span{
            color: var(--txt-color);
            
        }
    }
    .portforlio-bg-title{
        color: var(--txt-color-behind);
        font-weight: 800;
        font-size: 110px;
        position: absolute;
        z-index: -10;
        @media only screen and (max-width: 767.98px)
            {
                font-size: 65px;
                letter-spacing: 4px;
            }
    }
}